* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: #f0ead2ff;
    color: #6c584cff;
}

h1{
    font-weight: 900;
}

body.chat-mode-active {
    overflow: hidden; 
    height: 100vh; /* Ensures the body takes up exactly the viewport height */
}
/* 
--parchment: #f0ead2ff; light
--tea-green: #dde5b6ff;
--olivine: #adc178ff;
--chamoisee: #a98467ff;
--umber: #6c584cff; deep

*/