.loginPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.login-button {
  /* background-color: #6c584cff; */
  color: #f0ead2ff;
}

.loginPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.loginPage form div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.loginPage input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
  height: 40px;
}

.loginPage button {
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.signup-text {
  margin-top: 15px;
}
